@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');



:root{
    --title-font-family:'Lato', sans-serif;
}
*{
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    position: relative;
}

a {
    text-decoration: none !important;
    color: black !important;
}

main{
    margin-top: 2em;
    margin-inline:5%;
}
nav {
    display: flex;
    font-weight: 800;
    justify-content: space-between;
    padding-top: 20px;

}
.navbar{
    background: fixed;
}
.nav-item a{
    color: black;
}
.nav-link {
    font-weight: 900;
    font-size: 1.15em;
}
.nav-link:hover{
    border-bottom: 1px solid rgb(70, 149, 180);
    color: white;
}
.nav-item a:hover{
    opacity: 0.75;
}
.dropdown-menu{
    display: none;
    background-color:rgb(254, 254, 254) ;
}

.dropdown:hover{
    opacity: 0.75;
    cursor: pointer;
}
.dropdown:hover > .dropdown-menu {
    display: flex;
    flex-direction: column;

}
.dropdown-menu li{
   padding-inline:1em;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-bar li {
    padding-right: 50px;
}

/* home page */
@keyframes messageAnimation {
    0%{
        left:-300px;
    }
    100%{
        left: 0;
    }
    
}


@keyframes headingAnimation {
    0%{
        left:-500px;
    }
    100%{
        left:0;
    }
}
@keyframes bodyAnimation {
    0%{
        left:-700px;
        opacity: 0;
    }
    100%{
        opacity: 1;

        left:0;
    }
}
@keyframes opacAnimation {
    0%{
        opacity: 0;
        right: -500px;
    }
    100%{
        right: 0px;
        opacity: 1;
    }
}
.top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 100%;

}

.top-photo{
    width: 50%;
    position: relative;
    animation: opacAnimation 1.5s;
}
.top-info {
    width: 40%;
}

.top-info h3 {
    position: relative;
    animation: headingAnimation 1.5s;
    transition: ease-in-out;
    font-family: var(--title-font-family);
    font-size: 2em;
    font-weight: 200;
}
.top-info p{
    position: relative;
    animation: bodyAnimation 2s;
    transition: ease-in-out;
    padding-top: 1em;
}
.bold {
    font-size: 1.25em;
    font-weight: bolder;
}
.main{
    position: relative;
    animation: messageAnimation 1.25s;
}
#pink-button {
    margin-top: 1em;
    background-color: #F9ECEC;
    padding: 1em;
    position: relative;
    animation: headingAnimation 1.5s;
    padding-inline: 2em;
    border-radius: 14px;
    border: none;
}
#pink-button-two{
    margin-right: 0.5em;
    margin-top: 1em;
    background-color: #cd866f;
    padding: 1em;
    position: relative;
    animation: headingAnimation 1.5s;
    padding-inline: 2em;
    border-radius: 14px;
    border: none;
}
#pink-button-success{
    margin-top: 1em;
    background-color: #F9ECEC;
    padding: 1em;
    padding-inline: 2em;
    border-radius: 14px;
    border: none;
}
#pink-button-two-success{
    margin-right: 0.5em;
    margin-top: 1em;
    background-color: #cd866f;
    padding: 1em;
    padding-inline: 2em;
    border-radius: 14px;
    border: none;
}


.bottom-part {
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap:3em;

}

.bottom-part-two{
    margin-top: 10em;
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:3em;

}

.content-right{
    width: 50%;
    text-align: left;
}
.bottom-part-two .content-right{
    width: 50%;
    text-align: left;

}
.bottom-part h3 {
    font-size: 2em;
    font-family: var(--title-font-family);

}
.bottom-part-two .bottom-photo{
    width: 30%;
}
.bottom-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#monalisa{
    width: 100%;
    height: auto;
}
.footer {
    background-color: F9ECEC;
    height: 80px;
}



.encode-box {
    background-color: #F9ECEC;
    Width: 1235px;
    Height: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    display: inline-block;

}

#video-button {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.encode-box input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}



#video-button {
    background-color: #B9B9B9;
    border-radius: 14px;
    border: none;
    Width: 316px;
    Height: 60px;
    Top: 486px;
    Left: 77px;
}

#encode-button, #decoded-button{
    border-radius:10px;
    background-color: #C7FFAC;
    border: none;
    padding: 1em;
    padding-inline: 2em;
}
.encode-inputs {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    width: 50%;
}

input[type="text"] {
    padding: 0.5em;
    border-radius: 5px;
}

input[type="number"] {
    padding: 0.5em;
    border-radius: 5px;
}

.btn-list{
    border: 1px solid gray;
    width: 100%;
    padding: 0.5em;
    border-radius: 10px;
    padding-bottom: 1.5em;
}
.output-information{
    border: 1px solid gray;
    width: 100%;
    padding: 1.5em;
    border-radius: 10px;
    padding-bottom: 1.5em;
}
.original-img, .result-img{
    width: 100%;
    height: 50vh;
}
.about {
    display: flex;
    margin-top: 50px;
    height: 70vh;
    justify-content: space-evenly;
}
.about_picture{
    height: fit-content;
    width: 20%;

}
.about_picture img {
    width: 100%;
}

.about_detail {
    height: fit-content;
    width: 50%;
}


.fa {
    padding: 0.5em;
    font-size: 30px;
    width: 2em;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    font-size: 2em;
    background: #7b808c;
    color: white;
}

.blank {
    height: 45px;
}

.footer {
    position: absolute; 
    bottom: -10; 
    left: 0; 
    display: flex;
    justify-content: space-around;
    height: fit-content;
    background-color: rgb(235, 231, 231);
    padding: 40px;
    margin-top:16em;
    width:100%;
}

.footer_about {
    width: 30%;

}

.footer h1 {
    font-size: 20px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    padding-left: -30px;
}


.decoded-body#blur.active{
    filter: blur(20px);
}

/* spiinner */
#spinner-container{
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.902);
}
#spinner{
    position: absolute;
    background: rgba(255, 254, 254, 0.8);
    z-index: 1000;
    text-align: center;
    top: 70%;
    left: 50%;
}
#loadingText{
    position: absolute;
    z-index: 1000;
    text-align: center;
    top: 72%;
    left: 49%;
    font-size: 1em;
}
/* for the card design after decoding */
#card-container{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150vh;
    width: 100%;
    z-index:1;
    background-color: rgba(0, 0, 0, 0.902);
}
.card{
    display: none;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 70%);
    padding: 2em;
    text-align: center;
    align-items: center;
    z-index: 0;
}
.stop-scrolling{
    height: 100%;
    overflow: hidden;
}

/* @media only screen and (min-width:1200px) {
    #card-container{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 150vh;
        width: 100%;
        z-index:1;
        background-color: rgba(0, 0, 0, 0.902);
    }
    .card{
        display: none;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        text-align: center;
        align-items: center;
        z-index: 0;
    }
    
} */

.title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title .error{
    font-size: 1.25em;
    color: red;
}
.title .successfully{
    font-size: 1.25em;
    color: rgb(0, 255, 38);
}
.close-btn{
    background:none;
    border: none;
    width: fit-content;
    justify-self: end;
    font-family: monospace;
    color: red;
}

.message{
    padding-top: 1em;
    font-size: 1em;
}
.reason{
    font-size: 0.85em;
    padding-top: 1em;
}


@media only screen and (max-width:1000px){
    *{
        padding: 0;
    }
    body{
        margin: 0;
        padding:0;
    }
    header{
        padding-top: 1em;
    }
    .logo{
        width: 80%;
    }
    .logopic{
        width: 100%;
        height: 5vh;
    }
    
    nav{
        width: 100%;
    }
    .navbar-toggler{
        margin-right: 2em;
    }
   
    #navbarNav{
        background-color: rgb(248, 245, 245);
    }
    .nav-item{
        border: 1px solid rgb(207, 202, 202);
    }
    .nav-item a{
        font-size: 1.5em;
    }
    main{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #message-container{
        width: 100%;
    }
    .top-part{
        width: 100%;
        display: flex;
        flex-flow: column-reverse;
        gap: 4em;
        justify-content: start;
        align-items: center;
        height: fit-content;
        padding-bottom: 10em;
    }
    
    .top-photo{
        width: 100%;
    }
    .top-photo img{
        width: 100%;
    }
    .top-info{
        padding: 1em;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .top-info h3{
        font-size: 2.5em;
    }
    .bold{
        font-size: 1.25em;
    }
    .top-info p{
        padding-top:1em ;
        font-size: 2em;
    }
    #pink-button, #pink-button-two{
        font-size: 1.85em;

    }
  
    .bottom-part, .bottom-part-two{
        flex-direction: column;
        padding: 0;
    }
    .content-right{
        width: 100%;
        text-align: justify;
    }
    .bottom-part h3, .bottom-part-two h3{
        font-size: 4em;
        text-align: center;
    }
    .bottom-part p, .bottom-part-two p{
        margin-top: 2em;
        font-size: 2em;
    }
    .bottom-photo{
        width: 100%;
    }
    .bottom-photo img{
        width: 100%;
    }
    .bottom-part-two{
        width: 100%;
    }
    .bottom-part-two .content-right{
        width: 100%;
        text-align: justify;
    }
    .bottom-part-two .bottom-photo{
        width: 100%;
    }
    /* encode  */
    .main{
        margin-top: 4em;
        padding-inline:10%;
    }

    .main h1{
        font-size: 4em;
    }
    #encode-message{
        font-size: 2em;
    }
    label{font-size: 2dvh;}
   
    input[type="text"]{
        font-size: 2em;

    }
    input[type="text"]::placeholder{
        font-size: 0.85em;

    }
    
    form{
        width: 100%;
    }
    .encode-inputs{
        width: 100%;
    }
    #encode-button{
        width: 100%;
        margin-top: 2em;
        font-size: 2em;
    }
    .original-img, .result-img{
        height: 10vh;
    }

    /* about us  */
   
    .about{
        display: block;
        width: 100%;
    }
    .about_detail{
        text-align: justify;
        width: 100%;
    }
    .about h2{
        font-size: 4em;
    }
    .about p{
        text-align: justify;
        border: 1px solid;
        font-size: 2em;
    }
    .about_picture{
        width: 100%;
    }
    .about_picture img{
        width: 100%;
        height: auto;
        margin-top: 2em;
    }

    /* footer */
    .footer{
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 2em;
    }
    .footer_about{
        width: 100%;
    }
    .footer h1{
        font-size: 2.5em;
    }
    .links a{
        font-size: 1.75em;
    }
    .footer_about p{
        font-size: 1.75em;
    }
    .fa-github{
        padding: 2em;
        font-size: 2em;
    }
    
    .output-information{
        width: 100%;
    }
    .btn-list{
        display: flex;
        gap: 1em;
        flex-direction: column;
    }
    #pink-button-success, #pink-button-two-success{
        padding-inline: 1em;
        margin: 0;
        width: 100%;
        text-align: center;
        padding-block: 1em;
    }
    .decode-container{
        padding: 5em;
    }
}