{% extends 'core/index.html' %}

{% block content %}



<div class="output-container container ">
    {% if request.session.image_location %}
        <!-- <img src="/{{request.session.image_location}}" alt="image-steg" width="500px" height="500px"> -->
        <div class="output-information">
            <div class="card-design d-flex align-items-center justify-content-between  ">
              <h5><b>Completion Time</b> {{request.session.completion_time}} s</h5>
              <a href="/{{request.session.image_location}}" class="btn btn-info" download>Download Image</a>
            </div>
            <div class="row d-flex flex-row justify-content-between mt-3">
              <div class="original d-flex flex-column col-md-5">
                <h5>Original Image</h5>
                <img src="/{{request.session.original_image}}" alt="img"  class="original-img">
                <p class="pt-2"> <b>Size</b>: {{request.session.original_image_size}} MB</p>
              </div>
              <div class="decode-image d-flex flex-column col-md-5">
                <h5>Encoded Image</h5>
                <img src="/{{request.session.image_location}}" alt="img" class="result-img">
                <p class="pt-2"><b>Size</b>: {{request.session.image_size}} MB</p>

              </div>
              
            </div>

            
          </div>
          <h3 class="mt-5">Available Features:</h3>
          <div class="other-features d-flex justify-content-evenly w-100">
            <div class="video d-flex flex-column w-50 m-2">
              <h5 style="color: rgb(90, 88, 88);" class="mt-md-4">For Video</h5>
              <div class="btn-list d-flex justify-content-evenly">
                <a href="{% url 'encode' %}" id="pink-button-success">Video Encoding</a>
                <a href="{% url 'decode'%}" id="pink-button-two-success">Video Decoding</a>
              </div>
            </div>
            <div class="image d-flex flex-column w-50 m-2">
              <h5 style="color: rgb(90, 88, 88);" class="mt-md-4">For Image</h5>
              <div class="btn-list d-flex justify-content-evenly">
                <a href="{% url 'image-steg' %}" id="pink-button-success">Image Encoding</a>
                <a href="{% url 'image-decode'%}" id="pink-button-two-success" >Image Decoding</a>
              </div>
            </div>
          </div>
    {% else %}
    <h5>nothing</h5>
    {% endif%}
</div>

{% endblock %}