{%extends 'core/index.html' %}

{% block title %}About{% endblock%}

{% block content %}
<div class="main">
    <div class="about">
        <div class="about_detail">
            <h2>About The Project</h2>
            <br>
            <p>Camouflage - Video/ Image Steganography allows users to encrypt and
                 decrypt a hidden message embedded in a image/video. Users can securely 
                 connect with one another and shield the information they send from prying 
                 eyes by using this technology. In reality, the conversation may be a secret
                text messaging between two persons, even if it may seem like a typical 
                  video/image sharing conversation. <br><br>

                Users have options to choose which steganography is required for them. 
                The two options are: image steganography and video steganography. Users 
                can try both and use any one of them that is needed as per their 
                requirements. Camouflage also gives the user the feature to download 
                encoded video and images and also allows to export the decoded message 
                in the text file.
                 </p>
            <p><b>Done By </b>: Dilasha Shrestha, Supriya Thapa Bhujel and Ritik Lal Shrestha.</p>
            <a href="https://github.com/whyme-duh/video-steganography/tree/master" class="btn btn-secondary text-white" >View in Github </a>
        </div>
        <div class="about_picture">
            <img src="../../static/about.avif">
        </div>
    </div>
    
</div>

{%endblock %}