{%extends 'core/index.html' %}

{% load widget_tweaks %}
{% block title %}Video Encode{% endblock%}
{% block content %}

    <div class="main col-md-12 col-xs-12 ">
        {{message}}
        <h1>Encode Video Now.</h1>
        <p id="encode-message">Hide your message inside any video with an ease.</p>
        <small style="color: grey;font-size: 0.75em;">We only support .AVI files right now.</small>
        <div class="encode-inputs ">
            <form enctype = "multipart/form-data" method="POST" id="myform" a>
                {% csrf_token %}
                <div class="form-outline mb-4">
                    <label class="form-label" >Upload Your video</label>
                    {% render_field form.video class="form-control" type="file" %}
                    <small style="color:red;font-size: 1em;">{{form.video.errors}}</small>

                </div>
        
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="secret_key">Secret Key</label>
                    {% render_field form.secret_key class="form-control" placeholder="Enter Secret Key" type="text"  %}
                    <small style="color:red;font-size: 1em;">{{form.secret_key.errors}}</small>
                    
                </div>
                
                
                <div class="form-outline mb-4">
                    <label class="form-label" for="message">Message</label>
                    {% render_field form.message class="form-control" placeholder="Enter Message" type="text" %}
                    <small style="color:red;font-size: 1em;">{{form.message.errors}}</small>
    
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="encoded_file_name">File Name</label>
                    {% render_field form.encoded_file_name class="form-control" placeholder="Enter Filename for the encoded video without extension" type="text" %}
                    <small style="color:red;font-size: 1em;">{{form.encoded_file_name.errors}}</small>
    
                </div>
                <button id="encode-button" type="submit">Encode</button> 

            </form> 
            
        </div>

    </div>
    <div id="spinner-container">
        <div class="spinner-border" role="status" id="spinner">
            <span class="sr-only">Loading...</span>
        </div>
        <h5 class="text-white" id="loadingText">Loading...</h5>
    </div>

{%endblock %}