{% extends 'core/index.html' %}
{% load static %}
{% block title%} Profile{% endblock %}

{% block content %}

<div class="container content-section mt-5 pb-5" >
	<div class="container d-flex justify-content-between p-0 m-0">
		<h3>Occhila Profile</h3>
	<a class="btn btn-danger" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
	</div>
	
	<div class="row">
		{% for video in encoded_videos %}
		<div class="card p-4 row d-flex justify-content-between">
			<h5 class="w-25">{{video.file.path}}</h5>
			{{video.frame_number}}
			{{video.message}}
			{{video.encoded_file}}
			<a href="{% url 'decode-video' video.id %}" class="btn btn-secondary text-white w-25">Decode Now</a>
		</div>
		{% endfor %}
	</div>
		
</div>


{% endblock %}